/* ******************************** */
/*  These are the custom css rules  */
/*  for the individual banners      */
/* ******************************** */
banner-ad {
  /* Height and width of the ad */
  width: 300px;
  height: 250px;
}

.svgText {
	height: 32px;
}
