/*
  These are the shared css rules
  applied to all banners
*/
html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

img, #clicktag {
  position: absolute;
}

#ad {
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  background-color: green;
  /* Width and height to be defined in the custom scss file */
}

#clicktag {
  /* Zero the left and top properties so that
  the clicktag is always correctly positioned */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: visible;
  cursor: pointer;
}
