/* ************************ */
/*  Shared css rules        */
/*  applied to all banners  */
/* ************************ */
html, body {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section, img, button {
  position: absolute;
}

banner-ad {
  border: 1px solid rgb(0, 0, 0);
  display: block;
  position: relative;
  overflow: hidden;
  visibility: hidden; /* We will make the ad visible once we start the animation */
  background-color: rgb(50, 50, 120);
  /* Width and height to be defined in the custom scss file */
}

#clicktag {
  /* Zero the left and top properties so that
  the clicktag is always correctly positioned */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  /*Make sure there is some background color added or IE9 and IE10 will not trigger clicks*/
  background: #000;

}

/* Reset some button defaults */
button {
  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

section {
  width: 100%;
}



/* ************** */
/* Helper classes */
/* ************** */
.centerV {
  top: 50%;
  transform: translateY(-50%);
}

.centerH {
  left: 50%;
  transform: translateX(-50%);
}

.centerHV {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.guide {
  opacity: 0.5;
  z-index: 100;
}




/* **************** */
/* Z-index ordering */
/* **************** */
section {
  z-index: 1;
}

button {
  z-index: 2;
}




/* ****************** */
/* Non-template rules */
/* ****************** */
