html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

img, #clicktag {
  position: absolute;
}

#ad {
  border: 1px solid black;
  height: 248px;
  position: relative;
  overflow: hidden;
  width: 299px;
}
